body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .charts-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .chart-container {
    width: 100%; 
    background-color: rgba(112, 116, 116, 0.232);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  canvas {
    width: 100%;  
    height: auto;
  }
  